/**
 * 用于个人中心订单管理的
 * Created by Freed on 2017/5/15.
 * E-mail:flyxz@126.com.
 * GitHub:FreedGo@github.com.
 */
.body{
	background-color: #fff;
	color: #333;
}
/*2017-5-15 订单相关*/
.layui-icon-loading{
	font-size: 36px;
	display: block;
	width:50px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
}
.f-l-l{
	float: left;
}
.layui-table tbody tr:hover{
	background-color: #fff;
}
.online-shop-all-orders,.orders-finished,.orders-unfinished,.order-detaill-warp{
	padding: 10px;
}
.order-tiem{
	/*border:#ccc solid 1px;*/
	margin-bottom:20px;
}
.dd-list .layui-table td,.dd-list .layui-table th{
	padding: 10px 5px;
}
.title-warp{
	width:265px;
	overflow: hidden;
}
.order-head{
	height: 34px;
	background-color: #efefef;
}
.order-tiem:hover{
	/*border:#ffa5a5 solid 1px;*/
	/*box-shadow: 0 0 5px rgba(255,84,0,0.7);*/
}
.order-head-item{
	font:12px/34px 微软雅黑;/*订单号过长，字号改12px*/
	color: #333;
	padding-left: 5px;
}
.order-number{
	width: 162px;
}
.roder-time{
	width: 160px;
}
.order-seller{
	width:150px;
}
.order-seller-telnumber{
	width:206px;
}
.order-body{
	height:70px;
	padding-top: 20px;
}
/*.order-body-item{*/
	/*height:48px;*/
	/*margin-bottom: 5px;*/
	/*font:14px/24px 微软雅黑;*/
/*}*/
.order-body-item.product-title{
	line-height: 24px;
}
.product-img {
	width: 48px;
	height:48px;
	border:#ccc solid 1px;
	/*margin-left: 5px;*/
	overflow: hidden;
	display: inline-block;
}
.product-title{
	width:182px;
	margin-left: 5px;
	font:12px/24px 微软雅黑;
	display: inline-block;
	height: 48px;
	overflow: hidden;
}
.product-title a{
	font:12px/24px 微软雅黑;

}
.product-title:hover a{
	color: #f00;
}
.product-nums{
	width:42px;
	text-align: center;
}
.product-total-price{
	width:100px;
	text-align: center;
}
.product-price{
	width:100px;
	text-align: center;
}
.order-status,.order-Btn,.order-detaill{
	width:90px;
	text-align: center;
}
.order-com-button{
	padding: 3px 10px;
	background-color: #62AEFC;
	border-radius: 4px;
	color: #fff!important;
	cursor: pointer;
	margin-bottom: 2px;
	display: inline-block;
}
.order-com-button-gray{
	padding: 3px 10px;
	background-color: #ccc;
	border-radius: 4px;
	color: #fff!important;
	cursor: pointer;
	margin-bottom: 2px;
	display: inline-block;
}
.order-com-button a{
	color: #fff;
}
.look-order-detaill{
	color: #cb7047;
	border-bottom:solid 1px #cb7047;
}
.order-detaill-item{
	padding: 10px 0;
	border-bottom:#ccc solid 1px;
}
.order-detaill-item-title{
	font:16px/32px 微软雅黑;
}
.detaill-msg-mon{
	font:14px/24px 微软雅黑;
}
.detaill-msg-mon-val{
	padding-left: 5px;
}
.get-wuliu-msg{
	color: #d94a4a;
	font:14px/24px 微软雅黑;
	text-decoration: underline;
	cursor: pointer;
}
.last-total-price>dl{
	font:14px/24px 微软雅黑;
}
.last-total-price>dl span{
	text-align: right;
}
.last-total-price-name{
	width:500px;
}
.last-total-price-val{
	width:150px;
	color: #f00;
}
.last-total-price {
	margin-top: 20px;
}
.lastest-pay .last-total-price-val{
	font-size:18px;

}
.wuliu-msg-warp{
	border:#ddd solid 1px;
	border-radius: 4px;
	background-color: #f7f7f7;
}


.order-statu1,.order-statu3{
	color: red;
	font-weight:bold;
}
.order-statu2,.order-statu4,.order-statu5{
	color: green;
	font-weight:bold;

}
.orders-send{padding:10px}
.go-send1,.go-send3,.go-send4,.go-send5{
	background-color: #ccc;
}
.order-head-item{
	font-size: 12px;
}
.fabukecheng li>input.colorLists{
	width:78px;
}
.colorChange{
	width:18px;
	height:36px;
	text-align: center;
	float: left;
}
.colorChange>span{
	width:18px;
	height:16px;
	line-height:16px;
	font-size: 14px;
	border-radius: 50%;
	display: inline-block;
	border:#ccc solid 1px;
	color: #0C73A0;
	cursor: pointer;
}
.common-msg-con{
	color: red;
}

.order-show{
	display: none;
}
.product-img a{
	display: inline-block;
	width:100%;
	height: 100%;
}
.product-img a>img{
	width:100%;
	height: 100%;
}
/*--/--订单相关 */




/*订单详情*/
.detaill-msg-mon{
	padding-left: 15px;
	border-top: #ccc solid 1px;
	line-height:35px;
	height:35px;
}
.wuliu-msg-show{
	padding: 20px;
	font: 14px/24px 'Microsoft Yahei';
}
.msg-item{
	border-bottom:#ccc solid 1px;
}
.msg-item:nth-child(1){
	color: red;
}
.wuliu-msg-warp{
	display: none;
}
